In [16]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [17]:
import numpy as np
import pandas as pd

In [18]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [19]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [20]:
# Create database connection
engine = create_engine("sqlite:///hawaii.sqlite")

In [21]:
# reflect an existing database into a new model
Base = automap_base()

In [22]:
# reflect the tables
Base.prepare(engine, reflect=True)

# View the classes imported
Base.classes.keys()

['measurement', 'station']

In [23]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [24]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [25]:
# Display Measurement data in dictionary format
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1ff1920a148>,
 'station': 'USC00519397',
 'prcp': 0.08,
 'id': 1,
 'date': '2010-01-01',
 'tobs': 65.0}

# Exploratory Climate Analysis

In [28]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from the last data point in the database

# Find the last date in the dataset
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
for row in last_date:
    print(f"The last date in the file is {last_date}.")

# Date range is 2016-08-23 to 2017-08-23

The last date in the file is ('2017-08-23',).

In [44]:
# Perform a query to retrieve the date and precipitation scores
date_prcp = session.query(Measurement.date, Measurement.prcp).all()

# Save the query results as a Pandas DataFrame
prcp_df = pd.DataFrame(date_prcp)

# Remove null values
prcp_df = prcp_df.dropna()
prcp_df

             date  prcp
0      2010-01-01  0.08
1      2010-01-02  0.00
2      2010-01-03  0.00
3      2010-01-04  0.00
5      2010-01-07  0.06
...           ...   ...
19543  2017-08-17  0.13
19545  2017-08-19  0.09
19547  2017-08-21  0.56
19548  2017-08-22  0.50
19549  2017-08-23  0.45

[18103 rows x 2 columns]

In [58]:
# Sort the dataframe by date
prcp_by_date = prcp_df.sort_values(by=['date'])
#prcp_by_date.tail(2025)

# Trim dataframe to last 2021 rows to correspond with date range
prcp_by_date = prcp_by_date.drop(prcp_by_date.index[:-2021])
#prcp_by_date

# Set the index to the date column
prcp_reindex = prcp_by_date.set_index("date")
prcp_reindex.head()

            prcp
date
2016-08-23  0.15
2016-08-23  0.00
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.02

In [15]:
# Use Pandas Plotting with Matplotlib plot the data
dates = prcp_by_date['date']
precipitation = prcp_by_date['prcp']

plt.bar(dates, precipitation, color='b', align = 'center', zorder=3)
plt.title("Precipitation By Date In Hawaii")
plt.xlabel("Date")
plt.ylabel("Precipitation(Inches)")
plt.grid(zorder=0)

In [1]:
# Use Pandas to calculate the summary statistics for the precipitation data
precipitation.describe()

NameError: name 'precipitation' is not defined

In [2]:
# Display Station data in dictionary format
first_row_station = session.query(Station).first()
first_row_station.__dict__

NameError: name 'session' is not defined

In [3]:
# Design a query to show how many stations are available in this dataset?

In [4]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [5]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [6]:
# Choose the station with the highest number of temperature observations. (use func.max or func.count)
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram with bins=12

## Bonus Challenge Assignment

In [7]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

NameError: name 'session' is not defined

In [8]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [9]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [10]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [11]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

NameError: name 'func' is not defined

In [12]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [13]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [14]:
# Plot the daily normals as an area plot with `stacked=False`